
body{
  font-family: Verdana, sans-serif; 
  margin:0;
  background-color: #5B343B;
}


*{
  transition:all 0.3s ease-in-out;
  
}


/* *********** navBar and topSection ************** */

.top{
  background-color: #5B343B;
  color: #DBCEBF;
  height: 650px;
  

}

.top_container{
  /* clear:both; */
  overflow:auto;
  /* margin: 10px ; */
  padding: 10px;
  background-color: #5B343B;
  color: #DBCEBF;
}

/* Makes nav text float right */
nav{
  float:right;
}

/* Css for logo */
.logo{
  float:left;
  height:25%;
  width:25%}

/* Navbar CSS */
ul li{
  display: inline-block; 
  padding:10px;
  font-size: large;
}

ul li:hover{
  color: #826963;
  
}

/* CSS for book image */
.bk{
  width: 40%;
  display: inline-block;
  position: absolute;
  top: 23%;
  left: 55%;
  bottom: 5px;
}

/* ****************** coreTeamSection ***************************** */

.Core_team{
  max-height: fit-content;
  background-color: #DBCEBF;
  color: #5B343B;
 margin-bottom: 5%;
}

.mySlides{
  display: none
}

.core_img{
  vertical-align: middle;
  border-radius: 30px;
}

#core_text{
  text-align: center;
  padding-top: 50px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #5B343B;
  font-weight: bold;
  font-size: 18px;
  transition: 1s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #826963;
}

/* Caption text */
.text {
  color: #5B343B;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.active:hover {
  background-color:#826963;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/******************************* Work Section *************************** */

.work{
  height: 650px;
  background-color: #5B343B;
  color: #DBCEBF;
  text-align: center;
  padding-bottom: 5%;
}

.work_contain{
  position: relative;
}

.work_text{
  padding-top: 50px;
  padding-bottom: 50px;
}

.working{
  position: absolute;
  left: 100px;
}
table{
  /* width: 1000px;   */
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

td{
  padding-left: 180px;
}

/**************************** Workshop Section *************************/

.Workshops_sec{
  height: 650px;
  background-color: #DBCEBF;
  color: #5B343B;
  text-align:left;
}

#workshop_text{
  position:absolute;
  left: 70%;
}

/**************************** Join US Section *************************/

.Join_us{
  height: 650px;
  background-color: #5B343B;
  color: #DBCEBF;
  text-align:left;
  position: relative;
}

#join_text{
  position:absolute;
  left: 70%;
}

.submit_btn{
  border-radius: 5px;
  background-color: #DBCEBF;
  width: fit-content;
  height: 40px;
  width: fit-content;
}

input{
  font-size: 36px;
  background-color: #5B343B;
  border: none;
}

input::placeholder{
  color: #DBCEBF;
  background-color: #826963;
}


.joinUs_form{
  position: absolute;
  top: 10%;
  left: 65%;
  line-height: 7rem;
}

/**************************** Contact US Section *************************/

.Contact_us{
  height: 650px;
  background-color: #DBCEBF;
  color: #5B343B;
  text-align:left;
}

#contact_text{
  position:absolute;
  left: 70%;
}
